.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
.container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
.container-sm,
.container-md {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .container,
.container-sm,
.container-md,
.container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1367px) {
  .container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 1280px;
  }
}
.trans-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trans-margin {
  display: block;
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}

.d-none {
  display: none;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-reverse {
  flex-direction: row-reverse;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center--ver {
  display: flex;
  align-items: center;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-i-center {
  align-items: center;
}
.align-i-end {
  align-items: flex-end;
}

.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}

.w-0 {
  width: 0% !important;
}

.h-0 {
  height: 0% !important;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.h-20 {
  height: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.h-30 {
  height: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.h-40 {
  height: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.h-70 {
  height: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  height: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-100vh {
  height: 100vh;
}

.w-100vw {
  width: 100vw;
}

.w-max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.max-w-100 {
  max-width: 100%;
}
.max-h-100 {
  max-height: 100%;
}

.m-0 {
  margin: 0px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-lr-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.m-tb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.p-0 {
  padding: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-lr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p-tb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.m-1 {
  margin: 1px !important;
}
.m-t-1 {
  margin-top: 1px !important;
}
.m-b-1 {
  margin-bottom: 1px !important;
}
.m-l-1 {
  margin-left: 1px !important;
}
.m-r-1 {
  margin-right: 1px !important;
}
.m-lr-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.m-tb-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.p-1 {
  padding: 1px !important;
}
.p-t-1 {
  padding-top: 1px !important;
}
.p-b-1 {
  padding-bottom: 1px !important;
}
.p-l-1 {
  padding-left: 1px !important;
}
.p-r-1 {
  padding-right: 1px !important;
}
.p-lr-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.p-tb-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.m-2 {
  margin: 2px !important;
}
.m-t-2 {
  margin-top: 2px !important;
}
.m-b-2 {
  margin-bottom: 2px !important;
}
.m-l-2 {
  margin-left: 2px !important;
}
.m-r-2 {
  margin-right: 2px !important;
}
.m-lr-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.m-tb-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.p-2 {
  padding: 2px !important;
}
.p-t-2 {
  padding-top: 2px !important;
}
.p-b-2 {
  padding-bottom: 2px !important;
}
.p-l-2 {
  padding-left: 2px !important;
}
.p-r-2 {
  padding-right: 2px !important;
}
.p-lr-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.p-tb-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.m-3 {
  margin: 3px !important;
}
.m-t-3 {
  margin-top: 3px !important;
}
.m-b-3 {
  margin-bottom: 3px !important;
}
.m-l-3 {
  margin-left: 3px !important;
}
.m-r-3 {
  margin-right: 3px !important;
}
.m-lr-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.m-tb-3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.p-3 {
  padding: 3px !important;
}
.p-t-3 {
  padding-top: 3px !important;
}
.p-b-3 {
  padding-bottom: 3px !important;
}
.p-l-3 {
  padding-left: 3px !important;
}
.p-r-3 {
  padding-right: 3px !important;
}
.p-lr-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.p-tb-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.m-4 {
  margin: 4px !important;
}
.m-t-4 {
  margin-top: 4px !important;
}
.m-b-4 {
  margin-bottom: 4px !important;
}
.m-l-4 {
  margin-left: 4px !important;
}
.m-r-4 {
  margin-right: 4px !important;
}
.m-lr-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-tb-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.p-4 {
  padding: 4px !important;
}
.p-t-4 {
  padding-top: 4px !important;
}
.p-b-4 {
  padding-bottom: 4px !important;
}
.p-l-4 {
  padding-left: 4px !important;
}
.p-r-4 {
  padding-right: 4px !important;
}
.p-lr-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-tb-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.m-5 {
  margin: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-lr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.m-tb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.p-5 {
  padding: 5px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-lr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.p-tb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.m-6 {
  margin: 6px !important;
}
.m-t-6 {
  margin-top: 6px !important;
}
.m-b-6 {
  margin-bottom: 6px !important;
}
.m-l-6 {
  margin-left: 6px !important;
}
.m-r-6 {
  margin-right: 6px !important;
}
.m-lr-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
.m-tb-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.p-6 {
  padding: 6px !important;
}
.p-t-6 {
  padding-top: 6px !important;
}
.p-b-6 {
  padding-bottom: 6px !important;
}
.p-l-6 {
  padding-left: 6px !important;
}
.p-r-6 {
  padding-right: 6px !important;
}
.p-lr-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.p-tb-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.m-7 {
  margin: 7px !important;
}
.m-t-7 {
  margin-top: 7px !important;
}
.m-b-7 {
  margin-bottom: 7px !important;
}
.m-l-7 {
  margin-left: 7px !important;
}
.m-r-7 {
  margin-right: 7px !important;
}
.m-lr-7 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}
.m-tb-7 {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}

.p-7 {
  padding: 7px !important;
}
.p-t-7 {
  padding-top: 7px !important;
}
.p-b-7 {
  padding-bottom: 7px !important;
}
.p-l-7 {
  padding-left: 7px !important;
}
.p-r-7 {
  padding-right: 7px !important;
}
.p-lr-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.p-tb-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.m-8 {
  margin: 8px !important;
}
.m-t-8 {
  margin-top: 8px !important;
}
.m-b-8 {
  margin-bottom: 8px !important;
}
.m-l-8 {
  margin-left: 8px !important;
}
.m-r-8 {
  margin-right: 8px !important;
}
.m-lr-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.m-tb-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.p-8 {
  padding: 8px !important;
}
.p-t-8 {
  padding-top: 8px !important;
}
.p-b-8 {
  padding-bottom: 8px !important;
}
.p-l-8 {
  padding-left: 8px !important;
}
.p-r-8 {
  padding-right: 8px !important;
}
.p-lr-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-tb-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.m-9 {
  margin: 9px !important;
}
.m-t-9 {
  margin-top: 9px !important;
}
.m-b-9 {
  margin-bottom: 9px !important;
}
.m-l-9 {
  margin-left: 9px !important;
}
.m-r-9 {
  margin-right: 9px !important;
}
.m-lr-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}
.m-tb-9 {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}

.p-9 {
  padding: 9px !important;
}
.p-t-9 {
  padding-top: 9px !important;
}
.p-b-9 {
  padding-bottom: 9px !important;
}
.p-l-9 {
  padding-left: 9px !important;
}
.p-r-9 {
  padding-right: 9px !important;
}
.p-lr-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.p-tb-9 {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.m-10 {
  margin: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-lr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.p-10 {
  padding: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-lr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p-tb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.m-11 {
  margin: 11px !important;
}
.m-t-11 {
  margin-top: 11px !important;
}
.m-b-11 {
  margin-bottom: 11px !important;
}
.m-l-11 {
  margin-left: 11px !important;
}
.m-r-11 {
  margin-right: 11px !important;
}
.m-lr-11 {
  margin-left: 11px !important;
  margin-right: 11px !important;
}
.m-tb-11 {
  margin-top: 11px !important;
  margin-bottom: 11px !important;
}

.p-11 {
  padding: 11px !important;
}
.p-t-11 {
  padding-top: 11px !important;
}
.p-b-11 {
  padding-bottom: 11px !important;
}
.p-l-11 {
  padding-left: 11px !important;
}
.p-r-11 {
  padding-right: 11px !important;
}
.p-lr-11 {
  padding-left: 11px !important;
  padding-right: 11px !important;
}
.p-tb-11 {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.m-12 {
  margin: 12px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-l-12 {
  margin-left: 12px !important;
}
.m-r-12 {
  margin-right: 12px !important;
}
.m-lr-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.m-tb-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.p-12 {
  padding: 12px !important;
}
.p-t-12 {
  padding-top: 12px !important;
}
.p-b-12 {
  padding-bottom: 12px !important;
}
.p-l-12 {
  padding-left: 12px !important;
}
.p-r-12 {
  padding-right: 12px !important;
}
.p-lr-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.p-tb-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.m-13 {
  margin: 13px !important;
}
.m-t-13 {
  margin-top: 13px !important;
}
.m-b-13 {
  margin-bottom: 13px !important;
}
.m-l-13 {
  margin-left: 13px !important;
}
.m-r-13 {
  margin-right: 13px !important;
}
.m-lr-13 {
  margin-left: 13px !important;
  margin-right: 13px !important;
}
.m-tb-13 {
  margin-top: 13px !important;
  margin-bottom: 13px !important;
}

.p-13 {
  padding: 13px !important;
}
.p-t-13 {
  padding-top: 13px !important;
}
.p-b-13 {
  padding-bottom: 13px !important;
}
.p-l-13 {
  padding-left: 13px !important;
}
.p-r-13 {
  padding-right: 13px !important;
}
.p-lr-13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.p-tb-13 {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.m-14 {
  margin: 14px !important;
}
.m-t-14 {
  margin-top: 14px !important;
}
.m-b-14 {
  margin-bottom: 14px !important;
}
.m-l-14 {
  margin-left: 14px !important;
}
.m-r-14 {
  margin-right: 14px !important;
}
.m-lr-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}
.m-tb-14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.p-14 {
  padding: 14px !important;
}
.p-t-14 {
  padding-top: 14px !important;
}
.p-b-14 {
  padding-bottom: 14px !important;
}
.p-l-14 {
  padding-left: 14px !important;
}
.p-r-14 {
  padding-right: 14px !important;
}
.p-lr-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.p-tb-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.m-15 {
  margin: 15px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-lr-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m-tb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.p-15 {
  padding: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-lr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p-tb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.m-16 {
  margin: 16px !important;
}
.m-t-16 {
  margin-top: 16px !important;
}
.m-b-16 {
  margin-bottom: 16px !important;
}
.m-l-16 {
  margin-left: 16px !important;
}
.m-r-16 {
  margin-right: 16px !important;
}
.m-lr-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.m-tb-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.p-16 {
  padding: 16px !important;
}
.p-t-16 {
  padding-top: 16px !important;
}
.p-b-16 {
  padding-bottom: 16px !important;
}
.p-l-16 {
  padding-left: 16px !important;
}
.p-r-16 {
  padding-right: 16px !important;
}
.p-lr-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-tb-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.m-17 {
  margin: 17px !important;
}
.m-t-17 {
  margin-top: 17px !important;
}
.m-b-17 {
  margin-bottom: 17px !important;
}
.m-l-17 {
  margin-left: 17px !important;
}
.m-r-17 {
  margin-right: 17px !important;
}
.m-lr-17 {
  margin-left: 17px !important;
  margin-right: 17px !important;
}
.m-tb-17 {
  margin-top: 17px !important;
  margin-bottom: 17px !important;
}

.p-17 {
  padding: 17px !important;
}
.p-t-17 {
  padding-top: 17px !important;
}
.p-b-17 {
  padding-bottom: 17px !important;
}
.p-l-17 {
  padding-left: 17px !important;
}
.p-r-17 {
  padding-right: 17px !important;
}
.p-lr-17 {
  padding-left: 17px !important;
  padding-right: 17px !important;
}
.p-tb-17 {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

.m-18 {
  margin: 18px !important;
}
.m-t-18 {
  margin-top: 18px !important;
}
.m-b-18 {
  margin-bottom: 18px !important;
}
.m-l-18 {
  margin-left: 18px !important;
}
.m-r-18 {
  margin-right: 18px !important;
}
.m-lr-18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}
.m-tb-18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.p-18 {
  padding: 18px !important;
}
.p-t-18 {
  padding-top: 18px !important;
}
.p-b-18 {
  padding-bottom: 18px !important;
}
.p-l-18 {
  padding-left: 18px !important;
}
.p-r-18 {
  padding-right: 18px !important;
}
.p-lr-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.p-tb-18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.m-19 {
  margin: 19px !important;
}
.m-t-19 {
  margin-top: 19px !important;
}
.m-b-19 {
  margin-bottom: 19px !important;
}
.m-l-19 {
  margin-left: 19px !important;
}
.m-r-19 {
  margin-right: 19px !important;
}
.m-lr-19 {
  margin-left: 19px !important;
  margin-right: 19px !important;
}
.m-tb-19 {
  margin-top: 19px !important;
  margin-bottom: 19px !important;
}

.p-19 {
  padding: 19px !important;
}
.p-t-19 {
  padding-top: 19px !important;
}
.p-b-19 {
  padding-bottom: 19px !important;
}
.p-l-19 {
  padding-left: 19px !important;
}
.p-r-19 {
  padding-right: 19px !important;
}
.p-lr-19 {
  padding-left: 19px !important;
  padding-right: 19px !important;
}
.p-tb-19 {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}

.m-20 {
  margin: 20px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-lr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.p-20 {
  padding: 20px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-lr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p-tb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.m-21 {
  margin: 21px !important;
}
.m-t-21 {
  margin-top: 21px !important;
}
.m-b-21 {
  margin-bottom: 21px !important;
}
.m-l-21 {
  margin-left: 21px !important;
}
.m-r-21 {
  margin-right: 21px !important;
}
.m-lr-21 {
  margin-left: 21px !important;
  margin-right: 21px !important;
}
.m-tb-21 {
  margin-top: 21px !important;
  margin-bottom: 21px !important;
}

.p-21 {
  padding: 21px !important;
}
.p-t-21 {
  padding-top: 21px !important;
}
.p-b-21 {
  padding-bottom: 21px !important;
}
.p-l-21 {
  padding-left: 21px !important;
}
.p-r-21 {
  padding-right: 21px !important;
}
.p-lr-21 {
  padding-left: 21px !important;
  padding-right: 21px !important;
}
.p-tb-21 {
  padding-top: 21px !important;
  padding-bottom: 21px !important;
}

.m-22 {
  margin: 22px !important;
}
.m-t-22 {
  margin-top: 22px !important;
}
.m-b-22 {
  margin-bottom: 22px !important;
}
.m-l-22 {
  margin-left: 22px !important;
}
.m-r-22 {
  margin-right: 22px !important;
}
.m-lr-22 {
  margin-left: 22px !important;
  margin-right: 22px !important;
}
.m-tb-22 {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

.p-22 {
  padding: 22px !important;
}
.p-t-22 {
  padding-top: 22px !important;
}
.p-b-22 {
  padding-bottom: 22px !important;
}
.p-l-22 {
  padding-left: 22px !important;
}
.p-r-22 {
  padding-right: 22px !important;
}
.p-lr-22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.p-tb-22 {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}

.m-23 {
  margin: 23px !important;
}
.m-t-23 {
  margin-top: 23px !important;
}
.m-b-23 {
  margin-bottom: 23px !important;
}
.m-l-23 {
  margin-left: 23px !important;
}
.m-r-23 {
  margin-right: 23px !important;
}
.m-lr-23 {
  margin-left: 23px !important;
  margin-right: 23px !important;
}
.m-tb-23 {
  margin-top: 23px !important;
  margin-bottom: 23px !important;
}

.p-23 {
  padding: 23px !important;
}
.p-t-23 {
  padding-top: 23px !important;
}
.p-b-23 {
  padding-bottom: 23px !important;
}
.p-l-23 {
  padding-left: 23px !important;
}
.p-r-23 {
  padding-right: 23px !important;
}
.p-lr-23 {
  padding-left: 23px !important;
  padding-right: 23px !important;
}
.p-tb-23 {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.m-24 {
  margin: 24px !important;
}
.m-t-24 {
  margin-top: 24px !important;
}
.m-b-24 {
  margin-bottom: 24px !important;
}
.m-l-24 {
  margin-left: 24px !important;
}
.m-r-24 {
  margin-right: 24px !important;
}
.m-lr-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.m-tb-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.p-24 {
  padding: 24px !important;
}
.p-t-24 {
  padding-top: 24px !important;
}
.p-b-24 {
  padding-bottom: 24px !important;
}
.p-l-24 {
  padding-left: 24px !important;
}
.p-r-24 {
  padding-right: 24px !important;
}
.p-lr-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-tb-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.m-25 {
  margin: 25px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-lr-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.m-tb-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.p-25 {
  padding: 25px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-lr-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.p-tb-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.m-26 {
  margin: 26px !important;
}
.m-t-26 {
  margin-top: 26px !important;
}
.m-b-26 {
  margin-bottom: 26px !important;
}
.m-l-26 {
  margin-left: 26px !important;
}
.m-r-26 {
  margin-right: 26px !important;
}
.m-lr-26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}
.m-tb-26 {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.p-26 {
  padding: 26px !important;
}
.p-t-26 {
  padding-top: 26px !important;
}
.p-b-26 {
  padding-bottom: 26px !important;
}
.p-l-26 {
  padding-left: 26px !important;
}
.p-r-26 {
  padding-right: 26px !important;
}
.p-lr-26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}
.p-tb-26 {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

.m-27 {
  margin: 27px !important;
}
.m-t-27 {
  margin-top: 27px !important;
}
.m-b-27 {
  margin-bottom: 27px !important;
}
.m-l-27 {
  margin-left: 27px !important;
}
.m-r-27 {
  margin-right: 27px !important;
}
.m-lr-27 {
  margin-left: 27px !important;
  margin-right: 27px !important;
}
.m-tb-27 {
  margin-top: 27px !important;
  margin-bottom: 27px !important;
}

.p-27 {
  padding: 27px !important;
}
.p-t-27 {
  padding-top: 27px !important;
}
.p-b-27 {
  padding-bottom: 27px !important;
}
.p-l-27 {
  padding-left: 27px !important;
}
.p-r-27 {
  padding-right: 27px !important;
}
.p-lr-27 {
  padding-left: 27px !important;
  padding-right: 27px !important;
}
.p-tb-27 {
  padding-top: 27px !important;
  padding-bottom: 27px !important;
}

.m-28 {
  margin: 28px !important;
}
.m-t-28 {
  margin-top: 28px !important;
}
.m-b-28 {
  margin-bottom: 28px !important;
}
.m-l-28 {
  margin-left: 28px !important;
}
.m-r-28 {
  margin-right: 28px !important;
}
.m-lr-28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}
.m-tb-28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.p-28 {
  padding: 28px !important;
}
.p-t-28 {
  padding-top: 28px !important;
}
.p-b-28 {
  padding-bottom: 28px !important;
}
.p-l-28 {
  padding-left: 28px !important;
}
.p-r-28 {
  padding-right: 28px !important;
}
.p-lr-28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.p-tb-28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.m-29 {
  margin: 29px !important;
}
.m-t-29 {
  margin-top: 29px !important;
}
.m-b-29 {
  margin-bottom: 29px !important;
}
.m-l-29 {
  margin-left: 29px !important;
}
.m-r-29 {
  margin-right: 29px !important;
}
.m-lr-29 {
  margin-left: 29px !important;
  margin-right: 29px !important;
}
.m-tb-29 {
  margin-top: 29px !important;
  margin-bottom: 29px !important;
}

.p-29 {
  padding: 29px !important;
}
.p-t-29 {
  padding-top: 29px !important;
}
.p-b-29 {
  padding-bottom: 29px !important;
}
.p-l-29 {
  padding-left: 29px !important;
}
.p-r-29 {
  padding-right: 29px !important;
}
.p-lr-29 {
  padding-left: 29px !important;
  padding-right: 29px !important;
}
.p-tb-29 {
  padding-top: 29px !important;
  padding-bottom: 29px !important;
}

.m-30 {
  margin: 30px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-lr-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.m-tb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.p-30 {
  padding: 30px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-lr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.p-tb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.m-31 {
  margin: 31px !important;
}
.m-t-31 {
  margin-top: 31px !important;
}
.m-b-31 {
  margin-bottom: 31px !important;
}
.m-l-31 {
  margin-left: 31px !important;
}
.m-r-31 {
  margin-right: 31px !important;
}
.m-lr-31 {
  margin-left: 31px !important;
  margin-right: 31px !important;
}
.m-tb-31 {
  margin-top: 31px !important;
  margin-bottom: 31px !important;
}

.p-31 {
  padding: 31px !important;
}
.p-t-31 {
  padding-top: 31px !important;
}
.p-b-31 {
  padding-bottom: 31px !important;
}
.p-l-31 {
  padding-left: 31px !important;
}
.p-r-31 {
  padding-right: 31px !important;
}
.p-lr-31 {
  padding-left: 31px !important;
  padding-right: 31px !important;
}
.p-tb-31 {
  padding-top: 31px !important;
  padding-bottom: 31px !important;
}

.m-32 {
  margin: 32px !important;
}
.m-t-32 {
  margin-top: 32px !important;
}
.m-b-32 {
  margin-bottom: 32px !important;
}
.m-l-32 {
  margin-left: 32px !important;
}
.m-r-32 {
  margin-right: 32px !important;
}
.m-lr-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.m-tb-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.p-32 {
  padding: 32px !important;
}
.p-t-32 {
  padding-top: 32px !important;
}
.p-b-32 {
  padding-bottom: 32px !important;
}
.p-l-32 {
  padding-left: 32px !important;
}
.p-r-32 {
  padding-right: 32px !important;
}
.p-lr-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-tb-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.m-33 {
  margin: 33px !important;
}
.m-t-33 {
  margin-top: 33px !important;
}
.m-b-33 {
  margin-bottom: 33px !important;
}
.m-l-33 {
  margin-left: 33px !important;
}
.m-r-33 {
  margin-right: 33px !important;
}
.m-lr-33 {
  margin-left: 33px !important;
  margin-right: 33px !important;
}
.m-tb-33 {
  margin-top: 33px !important;
  margin-bottom: 33px !important;
}

.p-33 {
  padding: 33px !important;
}
.p-t-33 {
  padding-top: 33px !important;
}
.p-b-33 {
  padding-bottom: 33px !important;
}
.p-l-33 {
  padding-left: 33px !important;
}
.p-r-33 {
  padding-right: 33px !important;
}
.p-lr-33 {
  padding-left: 33px !important;
  padding-right: 33px !important;
}
.p-tb-33 {
  padding-top: 33px !important;
  padding-bottom: 33px !important;
}

.m-34 {
  margin: 34px !important;
}
.m-t-34 {
  margin-top: 34px !important;
}
.m-b-34 {
  margin-bottom: 34px !important;
}
.m-l-34 {
  margin-left: 34px !important;
}
.m-r-34 {
  margin-right: 34px !important;
}
.m-lr-34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}
.m-tb-34 {
  margin-top: 34px !important;
  margin-bottom: 34px !important;
}

.p-34 {
  padding: 34px !important;
}
.p-t-34 {
  padding-top: 34px !important;
}
.p-b-34 {
  padding-bottom: 34px !important;
}
.p-l-34 {
  padding-left: 34px !important;
}
.p-r-34 {
  padding-right: 34px !important;
}
.p-lr-34 {
  padding-left: 34px !important;
  padding-right: 34px !important;
}
.p-tb-34 {
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}

.m-35 {
  margin: 35px !important;
}
.m-t-35 {
  margin-top: 35px !important;
}
.m-b-35 {
  margin-bottom: 35px !important;
}
.m-l-35 {
  margin-left: 35px !important;
}
.m-r-35 {
  margin-right: 35px !important;
}
.m-lr-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.m-tb-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.p-35 {
  padding: 35px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-lr-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.p-tb-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.m-36 {
  margin: 36px !important;
}
.m-t-36 {
  margin-top: 36px !important;
}
.m-b-36 {
  margin-bottom: 36px !important;
}
.m-l-36 {
  margin-left: 36px !important;
}
.m-r-36 {
  margin-right: 36px !important;
}
.m-lr-36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}
.m-tb-36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.p-36 {
  padding: 36px !important;
}
.p-t-36 {
  padding-top: 36px !important;
}
.p-b-36 {
  padding-bottom: 36px !important;
}
.p-l-36 {
  padding-left: 36px !important;
}
.p-r-36 {
  padding-right: 36px !important;
}
.p-lr-36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.p-tb-36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.m-37 {
  margin: 37px !important;
}
.m-t-37 {
  margin-top: 37px !important;
}
.m-b-37 {
  margin-bottom: 37px !important;
}
.m-l-37 {
  margin-left: 37px !important;
}
.m-r-37 {
  margin-right: 37px !important;
}
.m-lr-37 {
  margin-left: 37px !important;
  margin-right: 37px !important;
}
.m-tb-37 {
  margin-top: 37px !important;
  margin-bottom: 37px !important;
}

.p-37 {
  padding: 37px !important;
}
.p-t-37 {
  padding-top: 37px !important;
}
.p-b-37 {
  padding-bottom: 37px !important;
}
.p-l-37 {
  padding-left: 37px !important;
}
.p-r-37 {
  padding-right: 37px !important;
}
.p-lr-37 {
  padding-left: 37px !important;
  padding-right: 37px !important;
}
.p-tb-37 {
  padding-top: 37px !important;
  padding-bottom: 37px !important;
}

.m-38 {
  margin: 38px !important;
}
.m-t-38 {
  margin-top: 38px !important;
}
.m-b-38 {
  margin-bottom: 38px !important;
}
.m-l-38 {
  margin-left: 38px !important;
}
.m-r-38 {
  margin-right: 38px !important;
}
.m-lr-38 {
  margin-left: 38px !important;
  margin-right: 38px !important;
}
.m-tb-38 {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
}

.p-38 {
  padding: 38px !important;
}
.p-t-38 {
  padding-top: 38px !important;
}
.p-b-38 {
  padding-bottom: 38px !important;
}
.p-l-38 {
  padding-left: 38px !important;
}
.p-r-38 {
  padding-right: 38px !important;
}
.p-lr-38 {
  padding-left: 38px !important;
  padding-right: 38px !important;
}
.p-tb-38 {
  padding-top: 38px !important;
  padding-bottom: 38px !important;
}

.m-39 {
  margin: 39px !important;
}
.m-t-39 {
  margin-top: 39px !important;
}
.m-b-39 {
  margin-bottom: 39px !important;
}
.m-l-39 {
  margin-left: 39px !important;
}
.m-r-39 {
  margin-right: 39px !important;
}
.m-lr-39 {
  margin-left: 39px !important;
  margin-right: 39px !important;
}
.m-tb-39 {
  margin-top: 39px !important;
  margin-bottom: 39px !important;
}

.p-39 {
  padding: 39px !important;
}
.p-t-39 {
  padding-top: 39px !important;
}
.p-b-39 {
  padding-bottom: 39px !important;
}
.p-l-39 {
  padding-left: 39px !important;
}
.p-r-39 {
  padding-right: 39px !important;
}
.p-lr-39 {
  padding-left: 39px !important;
  padding-right: 39px !important;
}
.p-tb-39 {
  padding-top: 39px !important;
  padding-bottom: 39px !important;
}

.m-40 {
  margin: 40px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.m-l-40 {
  margin-left: 40px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
.m-lr-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m-tb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.p-40 {
  padding: 40px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-lr-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p-tb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.m-41 {
  margin: 41px !important;
}
.m-t-41 {
  margin-top: 41px !important;
}
.m-b-41 {
  margin-bottom: 41px !important;
}
.m-l-41 {
  margin-left: 41px !important;
}
.m-r-41 {
  margin-right: 41px !important;
}
.m-lr-41 {
  margin-left: 41px !important;
  margin-right: 41px !important;
}
.m-tb-41 {
  margin-top: 41px !important;
  margin-bottom: 41px !important;
}

.p-41 {
  padding: 41px !important;
}
.p-t-41 {
  padding-top: 41px !important;
}
.p-b-41 {
  padding-bottom: 41px !important;
}
.p-l-41 {
  padding-left: 41px !important;
}
.p-r-41 {
  padding-right: 41px !important;
}
.p-lr-41 {
  padding-left: 41px !important;
  padding-right: 41px !important;
}
.p-tb-41 {
  padding-top: 41px !important;
  padding-bottom: 41px !important;
}

.m-42 {
  margin: 42px !important;
}
.m-t-42 {
  margin-top: 42px !important;
}
.m-b-42 {
  margin-bottom: 42px !important;
}
.m-l-42 {
  margin-left: 42px !important;
}
.m-r-42 {
  margin-right: 42px !important;
}
.m-lr-42 {
  margin-left: 42px !important;
  margin-right: 42px !important;
}
.m-tb-42 {
  margin-top: 42px !important;
  margin-bottom: 42px !important;
}

.p-42 {
  padding: 42px !important;
}
.p-t-42 {
  padding-top: 42px !important;
}
.p-b-42 {
  padding-bottom: 42px !important;
}
.p-l-42 {
  padding-left: 42px !important;
}
.p-r-42 {
  padding-right: 42px !important;
}
.p-lr-42 {
  padding-left: 42px !important;
  padding-right: 42px !important;
}
.p-tb-42 {
  padding-top: 42px !important;
  padding-bottom: 42px !important;
}

.m-43 {
  margin: 43px !important;
}
.m-t-43 {
  margin-top: 43px !important;
}
.m-b-43 {
  margin-bottom: 43px !important;
}
.m-l-43 {
  margin-left: 43px !important;
}
.m-r-43 {
  margin-right: 43px !important;
}
.m-lr-43 {
  margin-left: 43px !important;
  margin-right: 43px !important;
}
.m-tb-43 {
  margin-top: 43px !important;
  margin-bottom: 43px !important;
}

.p-43 {
  padding: 43px !important;
}
.p-t-43 {
  padding-top: 43px !important;
}
.p-b-43 {
  padding-bottom: 43px !important;
}
.p-l-43 {
  padding-left: 43px !important;
}
.p-r-43 {
  padding-right: 43px !important;
}
.p-lr-43 {
  padding-left: 43px !important;
  padding-right: 43px !important;
}
.p-tb-43 {
  padding-top: 43px !important;
  padding-bottom: 43px !important;
}

.m-44 {
  margin: 44px !important;
}
.m-t-44 {
  margin-top: 44px !important;
}
.m-b-44 {
  margin-bottom: 44px !important;
}
.m-l-44 {
  margin-left: 44px !important;
}
.m-r-44 {
  margin-right: 44px !important;
}
.m-lr-44 {
  margin-left: 44px !important;
  margin-right: 44px !important;
}
.m-tb-44 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}

.p-44 {
  padding: 44px !important;
}
.p-t-44 {
  padding-top: 44px !important;
}
.p-b-44 {
  padding-bottom: 44px !important;
}
.p-l-44 {
  padding-left: 44px !important;
}
.p-r-44 {
  padding-right: 44px !important;
}
.p-lr-44 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}
.p-tb-44 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}

.m-45 {
  margin: 45px !important;
}
.m-t-45 {
  margin-top: 45px !important;
}
.m-b-45 {
  margin-bottom: 45px !important;
}
.m-l-45 {
  margin-left: 45px !important;
}
.m-r-45 {
  margin-right: 45px !important;
}
.m-lr-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.m-tb-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.p-45 {
  padding: 45px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-lr-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.p-tb-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.m-46 {
  margin: 46px !important;
}
.m-t-46 {
  margin-top: 46px !important;
}
.m-b-46 {
  margin-bottom: 46px !important;
}
.m-l-46 {
  margin-left: 46px !important;
}
.m-r-46 {
  margin-right: 46px !important;
}
.m-lr-46 {
  margin-left: 46px !important;
  margin-right: 46px !important;
}
.m-tb-46 {
  margin-top: 46px !important;
  margin-bottom: 46px !important;
}

.p-46 {
  padding: 46px !important;
}
.p-t-46 {
  padding-top: 46px !important;
}
.p-b-46 {
  padding-bottom: 46px !important;
}
.p-l-46 {
  padding-left: 46px !important;
}
.p-r-46 {
  padding-right: 46px !important;
}
.p-lr-46 {
  padding-left: 46px !important;
  padding-right: 46px !important;
}
.p-tb-46 {
  padding-top: 46px !important;
  padding-bottom: 46px !important;
}

.m-47 {
  margin: 47px !important;
}
.m-t-47 {
  margin-top: 47px !important;
}
.m-b-47 {
  margin-bottom: 47px !important;
}
.m-l-47 {
  margin-left: 47px !important;
}
.m-r-47 {
  margin-right: 47px !important;
}
.m-lr-47 {
  margin-left: 47px !important;
  margin-right: 47px !important;
}
.m-tb-47 {
  margin-top: 47px !important;
  margin-bottom: 47px !important;
}

.p-47 {
  padding: 47px !important;
}
.p-t-47 {
  padding-top: 47px !important;
}
.p-b-47 {
  padding-bottom: 47px !important;
}
.p-l-47 {
  padding-left: 47px !important;
}
.p-r-47 {
  padding-right: 47px !important;
}
.p-lr-47 {
  padding-left: 47px !important;
  padding-right: 47px !important;
}
.p-tb-47 {
  padding-top: 47px !important;
  padding-bottom: 47px !important;
}

.m-48 {
  margin: 48px !important;
}
.m-t-48 {
  margin-top: 48px !important;
}
.m-b-48 {
  margin-bottom: 48px !important;
}
.m-l-48 {
  margin-left: 48px !important;
}
.m-r-48 {
  margin-right: 48px !important;
}
.m-lr-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
.m-tb-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.p-48 {
  padding: 48px !important;
}
.p-t-48 {
  padding-top: 48px !important;
}
.p-b-48 {
  padding-bottom: 48px !important;
}
.p-l-48 {
  padding-left: 48px !important;
}
.p-r-48 {
  padding-right: 48px !important;
}
.p-lr-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.p-tb-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.m-49 {
  margin: 49px !important;
}
.m-t-49 {
  margin-top: 49px !important;
}
.m-b-49 {
  margin-bottom: 49px !important;
}
.m-l-49 {
  margin-left: 49px !important;
}
.m-r-49 {
  margin-right: 49px !important;
}
.m-lr-49 {
  margin-left: 49px !important;
  margin-right: 49px !important;
}
.m-tb-49 {
  margin-top: 49px !important;
  margin-bottom: 49px !important;
}

.p-49 {
  padding: 49px !important;
}
.p-t-49 {
  padding-top: 49px !important;
}
.p-b-49 {
  padding-bottom: 49px !important;
}
.p-l-49 {
  padding-left: 49px !important;
}
.p-r-49 {
  padding-right: 49px !important;
}
.p-lr-49 {
  padding-left: 49px !important;
  padding-right: 49px !important;
}
.p-tb-49 {
  padding-top: 49px !important;
  padding-bottom: 49px !important;
}

.m-50 {
  margin: 50px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.m-l-50 {
  margin-left: 50px !important;
}
.m-r-50 {
  margin-right: 50px !important;
}
.m-lr-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.m-tb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.p-50 {
  padding: 50px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-lr-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.p-tb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-0-auto {
  margin: 0 auto !important;
}
.m-auto-0 {
  margin: auto 0 !important;
}
.m-auto {
  margin: auto !important;
}
.m-0 {
  margin: 0 !important;
}

.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-end {
  text-align: end;
}
.t-justify {
  text-align: justify;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-11px {
  font-size: 11px !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-13px {
  font-size: 13px !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.font-size-17px {
  font-size: 17px !important;
}

.font-size-18px {
  font-size: 18px !important;
}

.font-size-19px {
  font-size: 19px !important;
}

.font-size-20px {
  font-size: 20px !important;
}

.font-size-21px {
  font-size: 21px !important;
}

.font-size-22px {
  font-size: 22px !important;
}

.font-size-23px {
  font-size: 23px !important;
}

.font-size-24px {
  font-size: 24px !important;
}

.font-size-25px {
  font-size: 25px !important;
}

.font-size-26px {
  font-size: 26px !important;
}

.font-size-27px {
  font-size: 27px !important;
}

.font-size-28px {
  font-size: 28px !important;
}

.font-size-29px {
  font-size: 29px !important;
}

.font-size-30px {
  font-size: 30px !important;
}

.font-size-31px {
  font-size: 31px !important;
}

.font-size-32px {
  font-size: 32px !important;
}

.font-size-33px {
  font-size: 33px !important;
}

.font-size-34px {
  font-size: 34px !important;
}

.font-size-35px {
  font-size: 35px !important;
}

.font-size-36px {
  font-size: 36px !important;
}

.font-size-37px {
  font-size: 37px !important;
}

.font-size-38px {
  font-size: 38px !important;
}

.font-size-39px {
  font-size: 39px !important;
}

.font-size-40px {
  font-size: 40px !important;
}

.font-size-41px {
  font-size: 41px !important;
}

.font-size-42px {
  font-size: 42px !important;
}

.font-size-43px {
  font-size: 43px !important;
}

.font-size-44px {
  font-size: 44px !important;
}

.font-size-45px {
  font-size: 45px !important;
}

.font-size-46px {
  font-size: 46px !important;
}

.font-size-47px {
  font-size: 47px !important;
}

.font-size-48px {
  font-size: 48px !important;
}

.font-size-49px {
  font-size: 49px !important;
}

.font-size-50px {
  font-size: 50px !important;
}

.font-size-51px {
  font-size: 51px !important;
}

.font-size-52px {
  font-size: 52px !important;
}

.font-size-53px {
  font-size: 53px !important;
}

.font-size-54px {
  font-size: 54px !important;
}

.font-size-55px {
  font-size: 55px !important;
}

.font-size-56px {
  font-size: 56px !important;
}

.font-size-57px {
  font-size: 57px !important;
}

.font-size-58px {
  font-size: 58px !important;
}

.font-size-59px {
  font-size: 59px !important;
}

.font-size-60px {
  font-size: 60px !important;
}

.font-size-61px {
  font-size: 61px !important;
}

.font-size-62px {
  font-size: 62px !important;
}

.font-size-63px {
  font-size: 63px !important;
}

.font-size-64px {
  font-size: 64px !important;
}

.font-size-65px {
  font-size: 65px !important;
}

.font-size-66px {
  font-size: 66px !important;
}

.font-size-67px {
  font-size: 67px !important;
}

.font-size-68px {
  font-size: 68px !important;
}

.font-size-69px {
  font-size: 69px !important;
}

.font-size-70px {
  font-size: 70px !important;
}

.font-size-71px {
  font-size: 71px !important;
}

.font-size-72px {
  font-size: 72px !important;
}

.font-size-73px {
  font-size: 73px !important;
}

.font-size-74px {
  font-size: 74px !important;
}

.font-size-75px {
  font-size: 75px !important;
}

.font-size-76px {
  font-size: 76px !important;
}

.font-size-77px {
  font-size: 77px !important;
}

.font-size-78px {
  font-size: 78px !important;
}

.font-size-79px {
  font-size: 79px !important;
}

.font-size-80px {
  font-size: 80px !important;
}

.font-size-81px {
  font-size: 81px !important;
}

.font-size-82px {
  font-size: 82px !important;
}

.font-size-83px {
  font-size: 83px !important;
}

.font-size-84px {
  font-size: 84px !important;
}

.font-size-85px {
  font-size: 85px !important;
}

.font-size-86px {
  font-size: 86px !important;
}

.font-size-87px {
  font-size: 87px !important;
}

.font-size-88px {
  font-size: 88px !important;
}

.font-size-89px {
  font-size: 89px !important;
}

.font-size-90px {
  font-size: 90px !important;
}

.font-size-91px {
  font-size: 91px !important;
}

.font-size-92px {
  font-size: 92px !important;
}

.font-size-93px {
  font-size: 93px !important;
}

.font-size-94px {
  font-size: 94px !important;
}

.font-size-95px {
  font-size: 95px !important;
}

.font-size-96px {
  font-size: 96px !important;
}

.font-size-97px {
  font-size: 97px !important;
}

.font-size-98px {
  font-size: 98px !important;
}

.font-size-99px {
  font-size: 99px !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-b {
  font-weight: bold;
}

.cur-pointer {
  cursor: pointer;
}

/*# sourceMappingURL=atomic.css.map */
