:root {
	/* color palettes */
	--body-bg-color: #fff;
	--header-bg-color: #fff;

	--title-color: #189838;
	--text-color: #1e1e1e;

	--contrast-color: #fff;
	--primary-color: #9977ee;
	--secondary-color: #c96eed;

	--light-color: #f7fe70;
	--dark-color: #ffea70;

	--label-color: #6e6e6e;

	/* common color */
	--light-grey: #e5e5e5;
	--grey: #888;
	--medium-grey: #5e5e5e;
	--dark-grey: #333;

	/* global variable */
	--header-icon-fs: 2.2rem;
}

[data-theme='dark'] {
	--body-bg-color: #212223;
	--header-bg-color: #3a3b3c;

	--title-color: #50ff77;
	--text-color: #fefefe;

	--contrast-color: #fff;
	--primary-color: #bb88ff;
	--secondary-color: #ff7dff;

	--light-color: #e9ff7d;
	--dark-color: #fff37d;

	--label-color: #dedede;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
	color: var(--text-color);
	background: var(--body-bg-color);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}

p {
	word-wrap: break-word;
}

ol,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
