// ======= Navigation =======
nav {
  background-color: #282a36;
  height: 4.8rem;
  box-shadow: 0 2px 5px 2px rgba(#111, 0.2);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.menu {
  &-item {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.75px;

    position: relative;
    padding: 8px 16px;
    display: flex;
    align-items: center;

    transition: all 0.35s;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: #111;

      & .sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }

    &.active {
      background-color: #e87bc2;
    }

    i {
      font-size: 2rem;
      padding: 12px;
    }
  }
}

.sub-menu {
  position: absolute;
  top: 5.2rem;
  left: 0;
  box-shadow: 0 2px 5px 2px rgba(#111, 0.2);

  transition: all 0.35s;
  visibility: hidden;
  opacity: 0;

  background-color: #282a36;
  padding: 8px 0;

  &-item {
    padding: 0.8rem 5.2rem;
    transition: all 0.3s;

    &:hover,
    &:active {
      background-color: #111;
    }
  }
}

.search-bar {
  &-icon {
    i {
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }

    padding: 12px 18px;
    margin-left: 12px;
    transition: all 0.3s;

    &:hover,
    &:active {
      background-color: #111;
    }
  }

  &-control {
    input {
      outline: none;
      padding: 6px 8px;
      border: none;
    }

    #search {
      padding: 6px 12px;
      background-color: #bd93f9;
      color: #fff;
    }
  }
}
