// utils
.cur-pointer {
  cursor: pointer;
}

// overlay
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  opacity: 0.3;
  display: none;
}

// title
.header-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 4.8rem;

  line-height: 1.25;
  text-align: center;
  margin: 1.2rem 0;
}

@media only screen and (max-width: 576px) {
  .header-title {
    font-weight: 500;
    font-size: 2.6rem;
  }
}
