extends template/general.pug
block style
  link(rel='stylesheet' type="text/css" href='styles/css/home.css')
block content
  // content
  section#aboutMe.trans-center.flex-center.flex-dir-col
    h1 LEARN PROGRAMMING WITH DYNO 
    img(src="assets/icons/logo.png", alt="Logo")#logo.logo-ani
    h3 ABOUT ME
    ul.contact-info.flex-center
      a(href='https://fb.com/TuanNguyen250400' target='_blank')
        li.fb
          i.fab.fa-facebook-square
      a(href='https://mail.google.com/mail/u/0/#search/tuannguyentn2504%40gmail.com' target='_blank')
        li.email
          i.fas.fa-envelope
      a(href='https://www.instagram.com/__tuan.ng_/' target='_blank')
        li.ins
          i.fab.fa-instagram-square
      a(href='https://www.linkedin.com/in/nguyenleanhtuan/' target='_blank')
        li.in
          i.fab.fa-linkedin
      a(href='https://github.com/TuanNguyen2504' target='_blank')
        li.git
          i.fab.fa-github-square

