extends template/empty-content.pug
block style 
  link(rel='stylesheet' type="text/css" href="/vendors/prism/prism.min.css")
  script(src="/vendors/prism/prism.min.js")
  link(rel='stylesheet' type="text/css" href='/styles/css/sort.css')
  link(rel='stylesheet' type="text/css" href='/styles/css/menu.css')

block content
  .d-flex.flex-col.h-100
    //- navigation
    nav.d-flex.justify-content-between.container-fluid
      // mobile navigation
      .mobile-menu
        div(class=current === 'home' ? 'active' : '').menu-item 
          a(href='/')
            i.fas.fa-home
        .menu-item#slideMenuIcon
          i.fal.fa-bars

      ul.menu.d-flex
        li.menu-item
          a(href='/')
            i.fas.fa-home
        li.menu-item.active
          | Thuật toán
          // Sub menu for algorithm
          ul.sub-menu.flex-col
            a(href='/algorithm/sort-visualizer')
              li.sub-menu-item Sắp xếp trực quan
            a(href='/algorithm/sort-realtime')
              li.sub-menu-item Sắp xếp thời gian thực
        li.menu-item CTDL&amp;GT
        li.menu-item Javascript
        li.menu-item Tips

      .flex-center--ver
        // change-theme
        .m-r-6
          i#themeBtn.fal

        // search
        .search-bar.flex-center--ver
          #searchBar.search-bar-control(style='display: none')
            input(autofocus='' maxlength='40' type='text' placeholder='Nhập từ khoá ...')
            button#search.btn
              i.fal.fa-search
          #openSearchIcon.search-bar-icon.flex-center--ver.h-100
            i.fal.fa-search
          // close search icon
          #closeSearchIcon.search-bar-icon.flex-center--ver.h-100(style='display: none')
            i.fal.fa-times

    // control
    section#sortControl.d-flex.pos-rel
      .flex-center.sort-input.flex-grow-1
        // size
        .sort-input-item
          label(for='size') Kích thước
          input#size(type='number' min='1' max='1000' value='1' name='size')
        // delay time
        .sort-input-item
          label(for='delay') Delay (ms)
          input#delay(type='number' min='0' max='1000' value='0' name='delay')
        // array type
        .sort-input-item
          label(for='type') Loại mảng
          select#type(name='type')
        // sort algorithm
        .sort-input-item
          label(for='algorithm') Thuật toán
          select#algorithm(name='algorithm')
      // generate button
      .flex-center.sort-btn.flex-grow-1
        button#descAlgBtn.sort-btn-item
          | Mô tả &nbsp;
          i.fal.fa-info-circle
        button#generateBtn.sort-btn-item
          | Tạo mảng ngẫu nhiên
        button#oldUnsortedBtn.sort-btn-item Lấy lại mảng cũ
        button.sort-btn-item#sortBtn Sắp xếp
      // show/hide control button for small device
      #hideControlBtn.pos-abs.cur-pointer.more
        i.fal.fa-chevron-circle-up

    // visualize sort
    ul#sortNote.flex-center.flex-wrap
    ul#sortAnalysis.flex-center.flex-wrap
      li.sort-analysis-item Trạng thái:
        span#sortStatus
      li.sort-analysis-item So sánh:
        span#numOfComparision 
      li.sort-analysis-item Hoán vị:
        span#numOfSwap
      li.sort-analysis-item Truy cập mảng:
        span#numOfArrAccess 
    section.visual-sort.flex-grow-1
      ul#graph.w-100.h-100.d-flex.pos-rel

  //- mixin slide menu
  include ./mixin/slide-menu.pug
  +slideMenu

  // description algorithm modal
  .overlay#modalOverlay
  .desc-alg-modal-wrap.trans-center#descAlgModal
    .desc-alg-modal#pos-rel
      .close-icon.cur-pointer.t-right#closeModal
        i.fal.fa-times
      h1.title.t-center#descTitle
      #descContent.desc-content

block script
  script(src='/scripts/menu.js')
  script(src='/scripts/sort/constant.js')
  script(src='/scripts/sort/prepare-sort.js') 
  script(src='/scripts/sort/bubble-sort.js')
  script(src='/scripts/sort/selection-sort.js')
  script(src='/scripts/sort/insertion-sort.js')
  script(src='/scripts/sort/quick-sort.js')
  script(src='/scripts/sort/merge-sort.js')
  script(src='/scripts/sort/heap-sort.js')
  script(src='/scripts/sort/radix-sort.js')
  script(src='/scripts/sort/stupid-sort.js')
  script(src='/scripts/sort/index.js')
