extends template/general.pug
block style 
  link(rel="stylesheet" type="text/css" href="/styles/css/sort-realtime.css")
block content
  .container
    .m-t-9.p-lr-8
      h1.header-title So sánh thời gian chạy các thuật toán sắp xếp

block script

