extends template/general.pug
block style 
  link(rel='stylesheet' type="text/css" href="/vendors/prism/prism.min.css")
  script(src="/vendors/prism/prism.min.js")
  link(rel='stylesheet' type="text/css" href='/styles/css/sort-visualizer.css')

block content
  .d-flex.flex-col.h-100
    //- navigation
    include ./mixin/navigation.pug
    +navigation

    //- control
    section#sortControl.d-flex.pos-rel
      .flex-center.sort-input.flex-grow-1
        // size
        .sort-input-item
          label(for='size') Kích thước
          input#size(type='number' min='1' max='1000' value='1' name='size')
        // delay time
        .sort-input-item
          label(for='delay') Delay (ms)
          input#delay(type='number' min='0' max='1000' value='0' name='delay')
        // array type
        .sort-input-item
          label(for='type') Loại mảng
          select#type(name='type')
        // sort algorithm
        .sort-input-item
          label(for='algorithm') Thuật toán
          select#algorithm(name='algorithm')
      // generate button
      .flex-center.sort-btn.flex-grow-1
        button#descAlgBtn.sort-btn-item
          | Mô tả &nbsp;
          i.fas.fa-info-circle
        button#generateBtn.sort-btn-item
          | Tạo mảng ngẫu nhiên
        button#oldUnsortedBtn.sort-btn-item Lấy lại mảng cũ
        button.sort-btn-item#sortBtn Sắp xếp
      // show/hide control button for small device
      #hideControlBtn.pos-abs.cur-pointer.more
        i.fas.fa-chevron-circle-up

    //- visualize sort
    ul#sortNote.flex-center.flex-wrap
    ul#sortAnalysis.flex-center.flex-wrap
      li.sort-analysis-item Trạng thái:
        span#sortStatus
      li.sort-analysis-item So sánh:
        span#numOfComparision 
      li.sort-analysis-item Hoán vị:
        span#numOfSwap
      li.sort-analysis-item Truy cập mảng:
        span#numOfArrAccess 
    section.visual-sort.flex-grow-1
      ul#graph.w-100.h-100.d-flex.pos-rel

  //- description algorithm modal
  .overlay#modalOverlay
  .desc-alg-modal-wrap.trans-center#descAlgModal
    .desc-alg-modal#pos-rel
      .close-icon.cur-pointer.t-right#closeModal
        i.fas.fa-times
      h1.title.t-center#descTitle
      #descContent.desc-content

block script
  script(src='/scripts/sort-visualizer/constant.js')
  script(src='/scripts/sort-visualizer/prepare-sort.js') 
  script(src='/scripts/sort-visualizer/bubble-sort.js')
  script(src='/scripts/sort-visualizer/selection-sort.js')
  script(src='/scripts/sort-visualizer/insertion-sort.js')
  script(src='/scripts/sort-visualizer/quick-sort.js')
  script(src='/scripts/sort-visualizer/merge-sort.js')
  script(src='/scripts/sort-visualizer/heap-sort.js')
  script(src='/scripts/sort-visualizer/radix-sort.js')
  script(src='/scripts/sort-visualizer/stupid-sort.js')
  script(src='/scripts/sort-visualizer/odd-even-sort.js')
  script(src='/scripts/sort-visualizer/index.js')
