mixin slideMenu
  #overlay
  #slideNav
    .icon.cur-pointer
      i.fal.fa-times#closeSlideMenuIcon
    ul.slide-menu

      a(href="/")
        li(class=current==='home'?'active':'').slide-menu-item 
          span Trang chủ

      //- algotithms
      li(data-toggle-id="subAlg", class=current==='algorithm'?'active':'').slide-menu-item
        span.arrow-down Thuật toán

      ul.sub-slide-menu.hide#subAlg
        a(href="/algorithm/sort/visualizer")
          li(class=sub==='sort'?'active':'').sub-slide-menu-item
            span Sắp xếp trực quan
        a(href="/algorithm/sort/realtime")
          li(class=sub==='sort-realtime'?'active':'').sub-slide-menu-item
            span Sắp xếp thời gian thực

      //- data structure
      li.slide-menu-item 
        span CTDL&amp;GT

      //- js
      li.slide-menu-item 
        span Javascript

      //- tips
      li.slide-menu-item  
        span Tips