* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
	background-color: #fff;
}

#root,
.App {
	width: 100%;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
ul {
	margin: 0;
}

p {
	word-wrap: break-word;
}

li {
	text-decoration: none;
	list-style-type: none;
}

@media only screen and (max-width: 576px) {
	html,
	body {
		font-size: 40%;
	}
}
